# Игнорировать каталог src
src/
# Игнорировать каталог node_modules
node_modules/
# Игнорировать каталог gulpfile.js
gulpfile.js
# Игнорировать каталог package.json
package.json
# Игнорировать каталог package-lock.json
package-lock.json